/* Override table width restrictions. */
@media screen and (min-width: 767px) {
	.wy-table-responsive table td, .wy-table-responsive table th {
		white-space: normal !important;
	}
	.wy-table-responsive {
		overflow: visible !important;
	}
}

/*
 * Centre the page context, retain the navigation menu on the left.
 * RTD $nav-desktop-width (300px) + $nav-content-width (800px) == 1100px.
 * Halfway is 550px, then half of the sidebar 150px, total 700px.
 */
@media screen and (min-width: 1400px) {
	.wy-grid-for-nav {
		margin-left: calc(50vw - 700px);
	}
}

/*
 * Centre tables, figures, images and other elements within the page content.
 * Because images are inline elements, without any class or div around them,
 * they are matched selectively: only standard images directly inside a RST
 * section are matched.
 */
.align-default, div[itemprop="articleBody"] .section > img {
	margin-left: auto;
	margin-right: auto;
}
.align-default.figure {
	text-align: center;
}
div[itemprop="articleBody"] .section > img {
	display: block;
}

/* Make the non-content background uniform with the content background. */
.wy-body-for-nav, .wy-nav-content-wrap {
	background-color: #fcfcfc !important;
}

/* Inherit the dark-grey background for the top-left search area. */
.wy-side-nav-search {
	background-color: inherit !important;
}

/* Replace the blue top bar in mobile mode with the dark-grey background. */
.wy-nav-top {
	background-color: #343131 !important;
}
